<div *ngIf="!loading && wocs.length >0; else noWocs" class="container">
    <button mat-icon-button (click)="known('+')"><mat-icon>arrow_circle_up</mat-icon> </button>
    known {{wocs[i].known}}
    <button mat-icon-button (click)="known('-')"><mat-icon>arrow_circle_down</mat-icon> </button>
    <button mat-raised-button (click)="getWocs(language)">znovu zamichej</button>
    <div class="woc"  (click)=turnCard() >
        <span [fxHide]='turn'> {{wocs[i].cz}}</span>
        <span [fxHide]='!turn' >{{wocs[i].tran}}</span>
    </div>
</div>

<!-- no wocs when i dont have any wocs -->
<ng-template #noWocs>
  <h1>Aby ses mohl(a) zacit ucit potrebujes alespon 10 slovicek</h1>
  muzes si je pridat v sekci <a [routerLink]="['/edit']">Edit</a>
</ng-template>
