<div *ngIf="language; else noLangChoosen" class="container">
    <app-woc-form (created)='addWoc($event)'></app-woc-form>
    <!-- wocs list -->
    <div class="wocs-list" fxLayout="column">
        <!-- each woc -->

        <div class="woc" *ngFor="let w of wocs; let i = index" fxLayout="row" fxLayoutGap="20px">
            <span fxFlex class="item" >{{w.cz}}</span>
            <span fxFlex class="item" >{{w.tran}}</span>
            <span fxFlex class="item" >{{w.known}}</span>
            <span fxFlex class="item" >{{w.language}}</span>
            <span fxFlex class="pointer" (click)='deleteWoc(w._id, i)'>x</span>
        </div>
    </div>
</div>
<ng-template  #noLangChoosen>
  <h1>vyber si jazyk, prosim. </h1>

</ng-template>
