<div *ngIf="user && user.choosenLanguage">
<button mat-button [matMenuTriggerFor]="menu">{{user.choosenLanguage}}</button>
<mat-menu #menu="matMenu">
  <button *ngFor="let l of user.languages" mat-menu-item (click)='setLanguage(l)'>{{l}}</button>
  <button mat-button color='accent' routerLink='./profile'>spravuj jazyky</button>
</mat-menu>
</div>
<button *ngIf="user && !user.choosenLanguage" mat-button color='accent' routerLink='./profile'>pridej jazyk</button>
