<form (ngSubmit)="onSubmit(wocForm)" #wocForm="ngForm" fxLayout="column">
    <div fxFlex class="form-group">
      <input type="text" class="form-control" id="cz"
              placeholder="Česky"
             required
             [(ngModel)]="woc.cz" name="cz"
             #cz="ngModel">
      <div [hidden]="cz.valid || cz.pristine"
           class="alert alert-danger">
        CZ is required
      </div>
    </div>

    <div fxFlex class="form-group">
        <input type="text" class="form-control" id="tran"
                placeholder="Překlad"
               required
               [(ngModel)]="woc.tran" name="tr"
               #tran="ngModel">
        <div [hidden]="tran.valid || tran.pristine"
             class="alert alert-danger">
          Translation is required
        </div>
      </div>

    <button type="submit" [disabled]="!wocForm.form.valid">add</button>
    
  </form>