  <div *ngIf="user">
  <h1>{{user.username}} </h1>
  <div *ngFor="let l of user.languages; let i = index">
    {{l}} <span (click)="removeLang(i)" class="pointer">x</span>
  </div>
  <input #lang placeholder="pridej jazyk">
  <button (click)="addLang(lang)">update</button>
</div>
