<div class="menu" fxLayout="row">
    <span fxFlex='nogrow' class="item" [routerLink]="['/in/edit']" routerLinkActive="router-link-active" >edit</span>
    <span fxFlex='nogrow' class="item" [routerLink]="['/in/learn']" routerLinkActive="router-link-active" >learn</span>
    <span fxFlex='grow'> </span>
    <app-languages fxFlex='grow' ></app-languages>
    <app-user-menu fxFlex='nogrow>'></app-user-menu>
</div>
