<div *ngIf="!user"
>
  <button mat-button [routerLink]="['/login']" >
    login
  </button>
</div>

<div *ngIf="user" fxLayout="row" fxLayoutAlign="center center">
    <button  mat-button [matMenuTriggerFor]="userMenu">{{user.username}}<mat-icon>keyboard_arrow_down</mat-icon></button>
    <mat-menu #userMenu="matMenu">
      <span mat-menu-item [routerLink]="['/in/profile']" routerLinkActive="profile-active">Profil</span>
      <span mat-menu-item (click)="logout()">Odhlasit se</span>
    </mat-menu>

</div>
