<div *ngIf="!isLoggedIn else allreadyLoggedIn" class="container">
  
  <div class="toogler"
  fxLayout="row" fxLayoutAlign="space-around center">
    <div  i18n fxFlex='nogrow' class="button" (click)= 'signupActive = false'>
      Přihlásit
    </div>
    <div i18n fxFlex='nogrow' class="button" (click)= 'signupActive = true'>
      Registrovat
    </div>

  </div>
  <div class="login" *ngIf="!signupActive">
    <!-- LOGIN FORM -->
    <form [formGroup]='loginForm'
    (ngSubmit)="login(fl.email.value, fl.password.value)"
    fxLayout="column"
    >
    <mat-form-field fxFlex>
      <input matInput type="text" placeholder="email" formControlName="email" autofocus (keyup)='passIncorect=false'>
      <mat-error i18n *ngIf="fl.email.touched && fl.email.hasError('email')">
        zadej spravný email
      </mat-error>
      <mat-error i18n *ngIf="fl.email.touched && fl.email.hasError('required')">
        email je povinný
      </mat-error>
    </mat-form-field>

    <!-- password -->
    <mat-form-field fxFlex>
      <input matInput type="password" placeholder="heslo"  formControlName='password'>
      <mat-error i18n *ngIf="fl.password.touched && fl.password.hasError('required')">
        heslo je povinné
      </mat-error>
    </mat-form-field>
    <div fxFlex class="actions">
      <button  mat-raised-button color="primary" type="submit" [disabled]="fl.isvalid" i18n>přihlásit se</button>
    </div>
    </form>
   
  </div>
  <!-- SIGNUP FORM -->
  <div class="signup" *ngIf="signupActive">
    <form [formGroup]='signupForm'
      (ngSubmit)="signup()"
      fxLayout="column"
      >
      
      <mat-form-field fxfsex>
        <input matInput type="text" placeholder="jmeno" formControlName="username">
        <mat-error i18n *ngIf="fs.username.touched && fs.username.hasError('required')">
          jmeno je povinné
        </mat-error>
      </mat-form-field>
      <mat-form-field fxfsex>
        <input matInput type="text" placeholder="email'" formControlName="email" autofocus (keyup)='passIncorect=false'>
        <mat-error i18n *ngIf="fs.email.touched && fs.email.hasError('email')">
          vlož správný email
        </mat-error>
        <mat-error i18n *ngIf="fs.email.touched && fs.email.hasError('required')">
          email je povinný
        </mat-error>
      </mat-form-field>

      <!-- password -->
      <mat-form-field fxfsex>
        <input matInput type="password" placeholder="Password"  formControlName='password'>
        <mat-error i18n *ngIf="fs.password.touched && fs.password.hasError('required')">
          heslo je povinné
        </mat-error>
      </mat-form-field>
      <div fxFlex class="actions">
        <button  mat-raised-button color="primary" type="submit" [disabled]="fs.isvalid" i18n>registrovat</button>
      </div>

    </form>
  </div>
</div>
<ng-template i18n #allreadyLoggedIn class="allreadyLoggedIn">
Už seš přihlášen1
<button [routerLink]="['/in/edit']" mat-raised-button>Vstupte</button>
</ng-template>