/* You can add global styles to this file, and also import other style files */

app-root
  display: flex
  flex-direction: column
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0

body
  font-family: Roboto
  font-size: 14pt

.container
  margin: auto
  max-width: 800px
  padding: 8vh 5vw

.pointer
  cursor: pointer

h1
  text-align: center
